<div class="min-h-screen flex-center">
  <div class="flex-center-col gap-7 w-[400px] h-[400px]">
    <div class="flex-center-col text-center w-[350px]">
      <h3>Reset your password</h3>
      <p class="text-gray-400 text-sm font-medium mt-4">
        Enter your email and we'll send you a link to reset your password
      </p>
    </div>
    <form [formGroup]="resetPasswordForm" class="flex-center-col gap-7 w-full">
      <div class="flex flex-col w-full">
        <div class="form-field">
          <input
            formControlName="email"
            [appValidationClass]="resetPasswordForm.get('email')"
            autocomplete="off"
            class="input-form"
            type="email"
            id="email"
            placeholder=" "
          />
          <label class="label-form" for="email"> E-mail </label>
        </div>
        <app-form-hint-error [control]="resetPasswordForm.get('email')"></app-form-hint-error>
      </div>

      <div class="w-full">
        <app-button
          name="Reset your password"
          [loading]="isLoading"
          [disabled]="!resetPasswordForm.valid"
          [type]="'submit'"
          (click)="onSubmit()"
        ></app-button>
      </div>
    </form>
    <div>
      <a routerLink="/" class="hyperlink-small flex gap-2 text-zinc-500 hover:text-zinc-600"
        ><app-icon name="arrow_back"></app-icon> Back to login
      </a>
    </div>
  </div>
</div>
