<div class="min-h-screen login-container flex-center">
  <div class="teste">
    <div class="flex justify-start items-center gap-2">
      <button
        class="text-2xl"
        [ngClass]="isSignIn ? 'text-purple-600' : 'text-gray-400'"
        (click)="isSignIn = isSignIn = true"
      >
        {{ 'SIGN_IN' | translate }}
      </button>
      <span class="text-gray-400">{{ 'OR' | translate }}</span>
      <button
        class="text-2xl"
        [ngClass]="!isSignIn ? 'text-purple-600' : 'text-gray-400'"
        (click)="isSignIn = isSignIn = false"
      >
        {{ 'SIGN_UP' | translate }}
      </button>
    </div>
    <div class="w-[400px] h-[400px] mt-7">
      <app-sign-up *ngIf="!isSignIn; else signUp"></app-sign-up>

      <ng-template #signUp>
        <app-sign-in></app-sign-in>
      </ng-template>
    </div>
  </div>
</div>
