<span *ngIf="control?.invalid && (control?.dirty || control?.touched)" class="label-error-small">
  <ng-container *ngIf="control!.errors?.['required']">
    {{ 'REQUIRED' | translate }}
    <br />
  </ng-container>

  <ng-container *ngIf="control!.errors?.['email']">
    {{ 'INVALID_EMAIL' | translate }}
    <br />
  </ng-container>

  <ng-container *ngIf="control!.errors?.['minlength']">
    {{ 'MIN_LENGTH' | translate }}
    <br />
  </ng-container>

  <ng-container *ngIf="control!.errors?.['passwordMismatch']">
    {{ 'PASSWORDS_NOT_MATCH' | translate }}
    <br />
  </ng-container>
</span>
